body {
  background-color: black;
  font-family: 'Merriweather', serif;
  padding: 5px 25px;
  font-size: 16px;
  margin: 0;
  align-items:center;


}
h1, h2, footer{
  font-family: 'Roboto Slab', serif;
}

header{
  padding: 7px;
  margin: 0px;
  border: 100px; 
  background-color: #48cae4;
  color: white;
}

#content{
    max-width:960px;
    margin:0 auto;
    background-color: white;
    padding: 5px;
  
  }

#three-main-sections{
  display: grid;
  grid-template-columns: 1fr;
  margin: 1px;
  grid-gap: 7px;
}

#first-section, #second-section, #third-section{
  padding: 7px;
  background-color: cadetblue;

}

.site-link, h1, h2, h3{
  text-align: center;
}

footer{
    text-align: center;
    padding: 7px;
    margin: 0px;
    border: 100px; 
    background-color: #48cae4;
    color: white;
}
.logo-box img{
  justify-content: center;
  box-sizing: border-box;
  display: block;
  object-fit: contain;
  margin: 0;
  border: 0;
  padding: 3px;
}

.author-name{
  font-size: 3rem;
}

main img {
  box-sizing: border-box;
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 3px;
}

p{
    text-align: justify;
}