/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700'); */

body {
  background-color: white;
  font-family: 'Merriweather', serif;
  padding: 5px 25px;
  font-size: 16px;
  margin: 0;
  color: #444;

}
h1, h2, footer{
  font-family: 'Roboto Slab', serif;
}

header{
  display: grid;
  grid-template-columns: 25% 1fr;
  padding: 7px;
  margin: 0px;
  border: 100px; 
  background-color: #48cae4;
  align-items: center;
  color: white;
}

#content{
    max-width:800px;
    margin:0 auto;
  
  }

footer{
    text-align: center;
    padding: 7px;
    margin: 0px;
    border: 100px; 
    background-color: #48cae4;
    color: white;
}

hr{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}